#body-landing{
    width: 800px;
    minwidth: 300px;
    margin: 30px auto;
    font-family: 'Palatino Linotype', 'Lucidia Sans Unicode', 'Lucida Grande', sans-serif;
    line-height:10px;
    background-image:url('bo_play_pattern.png');
    background-color: #eee;
    position: relative;
    text-align: center;
    top: 30%;
    height: 1px;
}

.entry {
    border: solid 1px #d2d2d2;
    box-shadow: 0 1px 0px rgba(0,0,0,.1);
    background: #fff;
    background-color: #fcfcfc
    margin: 3px;
    color: #b8b8b8;
    text-align: center;
}


#body-grammar {
    width: 800px;
    top: 0%;
    margin: 30px auto;
    font-family: 'Verdana', 'Lucidia Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: small;
    background-image:url('bo_play_pattern.png');
    line-height:16px;
    position: relative;
    text-align: center;
}


#container-grammar {
    margin: 0 auto;
    display: block;
    width: 800px;
    height: 700px;
    padding: 35px;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    border-radius: 20px;
}

#container {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 180px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

#container-results {
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    height: 800px;
    background-color: #fff;
}

#body-results {
    width: 820px;
    font-family: Arial, 'Century Gothic', 'Lucida Grande', Helvetica, sans-serif;
    background-image:url('bo_play_pattern.png');
    text-align: center;
    minwidth: 300px;
    font-family: 'Verdana', 'Lucidia Sans Unicode', 'Lucida Grande', sans-serif;
    margin: 30px auto;
    position: relative;
    background-color: #eee;
    text-align: center;
}

#innerdiv {
    padding: 35px
}

#innerresultsdiv {
    padding: 15px
}
textarea {
    resize: none;
    outline: none;
    overflow: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited: {
    color: #aaa;
}

